
  <div class="toolbar">  
    <font style="color:white;font-size: 20px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">- - - - - - Register New User - - - - - -</font>
  </div>
  <div style="display:flex;justify-content: right;"> 
    <button mat-button class="mat-raised-button mat-primary actions" routerLink="/login" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">LogOff</button>    
</div>
  <!-- <p>{{ currentUser | json }}</p> -->
  <div class="form-size">
  <form novalidate [formGroup]="newUserForm" (ngSubmit)="onSubmit()" >
    <mat-dialog-content>
     <p>
      <mat-form-field>
     <input matInput formControlName="firstname" placeholder="First Name" type="text">
     <mat-error *ngIf="formErrors.firstname">{{formErrors.firstname}}</mat-error>
      </mat-form-field>
      </p>  
      <p>
        <mat-form-field >
       <input matInput formControlName="lastname" placeholder="Last Name" type="text">
       <mat-error *ngIf="formErrors.lastname">{{formErrors.lastname}}</mat-error>
        </mat-form-field>
        </p> 
    <p>
      <mat-form-field >
     <input matInput formControlName="username" placeholder="User Name" type="text">
     <mat-error *ngIf="formErrors.username">{{formErrors.username}}</mat-error>
      </mat-form-field>
      </p>
      <p>
        <mat-form-field >
       <input matInput formControlName="email" placeholder="Email ID" type="text">
       <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
        </mat-form-field>
        </p>
      <p>
      <mat-form-field>
     <input matInput formControlName="password" placeholder="Password" type="password" >
     <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
     <input matInput formControlName="cnfpassword" placeholder="Confirm Password" type="password" >
     <mat-error *ngIf="formErrors.cnfpassword">{{formErrors.cnfpassword}}</mat-error>
      </mat-form-field> 
      <mat-icon aria-label="tick mark" *ngIf="!nomatch" style="padding:5px">done</mat-icon>
      <button style="margin-left:10px ;" type="button" (click)="cnfValidator(newUserForm.controls['password'].value,newUserForm.controls['cnfpassword'].value)" style="color:white;padding:5px 10px; background-color:crimson;"> Check</button> 
      
     <font style="color:red;font-size:13px" *ngIf="nomatch">{{matchMessage}}</font>
    </p>
<p>     
<mat-form-field>

      <mat-select placeholder="Role" formControlName="role" >
        <mat-option value="admin">Admin</mat-option>
        <mat-option value="user">User</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
    </mat-dialog-content>
    <mat-dialog-actions>
    <font style="color:red;font-size:12px" *ngIf="nomatch">*Check for passwords</font>
    <br>
    <button type="submit" class="mat-raised-button mat-primary button-size" [disabled]="newUserForm.invalid || nomatch" >ADD USER</button>
  </mat-dialog-actions>
  </form>
    </div>
