.list{
  position:absolute;
  left: 5%;
  top:20%;
  padding:20px;
    border: 5px solid purple;
    border-collapse: collapse;
  }

  th{
    border: 1px solid purple;
    border-collapse: collapse;
    padding: 20px;
font-family:Verdana,serif;
  }
  td{
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 20px;
font-family:Verdana,serif;
  }
p{
font-family:Verdana,serif;
}

.details{
  position:absolute;
  left: 60%;
  top:20%;
padding:20px;
border: 5px solid purple;
border-collapse: collapse;
}