.tableview{
  margin:30px 30px;
  padding:20px;
  border: 5px solid purple;
  }

  th{
    border: 1px solid purple;
    border-collapse: collapse;
    padding: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  td{
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }

p{
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.toolbar{
  display:flex;
  align-items: center;
  background-color: purple;
  height: 50px;
  justify-content: center;
}

.actions
{
  padding:10px 20px;
  margin:10px 20px;

}