<div class="toolbar">  
    <font style="color:white;font-size: 20px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">- - - - - - LIST OF USERS - - - - - -</font>
 
</div>
<div style="display:flex;justify-content: right;"> 
    <button mat-button class="mat-raised-button mat-primary actions" routerLink="/newUser" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Add Another User</button> 
    <button mat-button class="mat-raised-button mat-primary actions" routerLink="/login" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">LogOff</button>    
</div>
<div style="display:grid;">
<table  class="tableview">
    <thead>
            <th>First Name</th>
        <th>Last Name</th>
        <th>User Name</th>
        <th>View Details</th>    
    </thead>
    <tbody>
        <tr *ngFor="let user of data.userList">
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.username}}</td>
            <td><button class="mat-raised-button mat-primary" (click)="setSelectedUser(user.username)" style="padding:10px 50px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">DETAILS</button></td>
        </tr>
    </tbody>
    
</table>
    <table  [hidden]="detailsSection" class="tableview">
        <thead>
            <th style="color: indigo; font-size: 20px; font-style: bold;">USER DETAILS
            </th>
        </thead>
        <tbody>
            <td>
                <p><b>First Name :</b> {{selectedUser.firstname}}</p>
                <p><b>Last Name :</b> {{selectedUser.lastname}}</p>
                <p><b>User Name :</b> {{selectedUser.username}}</p>
                <p><b>Email :</b> {{selectedUser.email}}</p>
                <p><b>Password :</b> {{selectedUser.password}}</p>
                <p><b>Role :</b> {{selectedUser.role}}</p>
            </td>
        </tbody>
    </table>   

</div>


