<div class="toolbar">  
    <font style="color:white;font-size: 20px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">- - - - - - Insurance Domains - - - - - -</font>
  </div>
  <div style="display:flex;justify-content: right;"> 
    <button mat-button class="mat-raised-button mat-primary actions" routerLink="/login" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">LogOff</button>    
</div>
<div class="piechart">
    <canvas id="myChart" ></canvas>
</div>